<%- include('partial/header') -%>

<section id="body">
    <div class="container ps-4">
        <h1 class="mt-4 mb-2">About</h1>
        <p class="m-0"><%= para %></p>

    </div>
</section>


<%- include('partial/footer') -%>
